@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
    height: 100%; 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 40px; 
    margin-bottom: 30px; 
}

#excuse {
    font-size: 24px; 
    color: #555;
    margin-bottom: 40px; 
}